.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.idea
.svn
cms/
vendor/
emails/
.dcms_log.txt
composer.phar
composer.lock
node_modules/
bower_components/
components/